* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lightgray;
}

nav {
  width: 100%;
  height: 100px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav img {
  margin: 60px;
  width: 50px;
  height: 50px;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  margin: 1rem;
}

.container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin: 1rem;
}

.container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin-bottom: 80px;
  margin-left: 13px;
}

h1 {
  margin-bottom: 40px;
}

.categoria1 {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 15px;
  overflow: auto;
}

.categoria2 {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 15px;
  overflow: auto;
}

.categoria3 {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 15px;
  overflow: auto;
}

.pratos {
  width: 250px;
  height: 335px;
  background: #fcfcfc;
  border-radius: 16px;
}

.selecionado {
  border-color: orange;
  border-style: solid;
}

.bebidas {
  width: 250px;
  height: 335px;
  background: #fcfcfc;
  border-radius: 16px;
}

.sobremesas {
  width: 250px;
  height: 335px;
  background: #fcfcfc;
  border-radius: 16px;
}

img {
  width: 240px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10px;
}

.titulo {
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

.descricao {
  margin-left: 10px;
  margin-right: 10px;
}

.valor {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: gray;
  position: fixed;
  bottom: 0;
}

.botao {
  width: 80%;
  height: 50px;
  background-color: lightgray;
  border-radius: 30px;
  text-align: center;
  color: darkslategrey;
  font-weight: bold;
  margin-top: 2px;
  align-content: center;
}

.liberado {
  background-color: orange;
  color: white;
}

.resumo {
  width: 100%;
  height: 100vh;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.ctf {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.confirm {
  width: 30%;
  height: 40px;
  background-color: lightgray;
  border-radius: 30px;
  text-align: center;
  color: black;
  margin-top: 2px;
  align-content: center;
  margin-top: 25px;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}
